.ad{
  margin-left: 400px;
	height: 800px;
	width: 600px;
	padding: 40px;
	margin-top: 50px;

	border-radius: 20px;
	box-shadow: 5px 10px 10px 5px black;
}
.form-control{
	border-radius: 20px;
	border:2px solid grey;
}
h1{
	font-family: sans-serif;
	font-size:30px;
	margin-left: 30px;
	}
